# Build Folders (Output)
bin/
obj/
out/
AppPackages/
*.nuspec
*.nupkg

# Visual Studio Code
.vscode/
.vscode/*

# User-Specific Files
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE Configuration
.idea/
*.vsconfig
*.csproj.user
*.csproj.vspscc
*.sln.vspscc
*.vssscc

# Logs, Debugging, and Crash Dumps
*.log
*.tlog
*.bak
*.swp
*.swo
*.ilk
*.pch
*.pdb
*.orig
*.orig.*

# Temporary Files
*.tmp
*.cache
*.ldb

# Package Managers
node_modules/
packages/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Environment Files
.env
.env.local
*.testsettings.json

# Rider IDE
.idea/
*.sln.iml

# Resharper
_ReSharper*/
**/TestResults/
**/TestResults/**

# Mac OS Files
.DS_Store
*.AppleDouble
.LSOverride

# Windows Thumbnail Caches
Thumbs.db
ehthumbs.db

# NuGet Packages and Build Artifacts
.nuget/
*.nupkg
project.lock.json
project.assets.json
*.props
*.targets

# ASP.NET Core Runtime and Published Output
wwwroot/
publish/
Publish/

+**/bin/
**/obj/
**/out/


# Visual Studio
.vs/             # Ignore entire .vs folder (Visual Studio cache & settings)
.vs/*
**.vs/
**.vs/*